
    <table>
        <tr>
            <td>
                Main
            </td>
            <td>
                {{ "http://127.0.0.1:8000/application2/user"|urlize }}
            </td>
        </tr>
        <tr>
            <td>
                Condition
            </td>
            <td>
                {{ "http://127.0.0.1:8000/application2/condition"|urlize }}
            </td>
        </tr>
        <tr>
            <td>
                Content
            </td>
            <td>
                {{ "http://127.0.0.1:8000/application2/content"|urlize }}
            </td>
        </tr>
    </table>
